      h1{
			font-family:futura;
			color:#FF9671;
		
			text-align:center; 

		}

	   h2{
                   font-family:futura;
                   text-align:center; 
                    font-size:20px;
                    text-align:center;
                    color:#FF9671;
                 
}

		p{
			
			font-family:futura;
			background-color: #FF9671; 
			font-size:23px;
			color:#FFC75F;
			
		}


		li{
			font-family: antique olive;
			font-size: 20px;
			color:#FF9671;
		 }
	html,body{
		height:120%;
	}

	body{
		
		margin:0;
       border: 100px solid white;
       background: #FFC75F;

	}

	a:hover {
  color: #FF9671;
}

a{
	font-family: antique olive;
	color:white;
	font-size: 20px;

}

<!--
a{text-decoration:none}
-->

	
