body{
        margin:auto;
    
        font-family:Rockwell ;
        color:white;
        text-align:center;
        cursor: url("images/cursor.png"), auto;
        font-size:30px;
        border-color: #FFA0BC;
        background-color: #FF6F61;

    }
      .grid-image-laptop{background-image:url(“/images/1.gif”);display:block; }


     .grid-image-phone{background-image:url(“/images/2.gif”);display:none; }


     .grid-image-ipad{background-image:url(“/images/7.gif”);display:none; }



      .laptop-one {
      display:block;
     }

     .phone-one {
      display:none;
     }

     .ipad-one{
      display:none;
     }

     




    h1{
       font-family:futura ;
       color:white;
       text-align:center;
       font-size:50px;


    }

    p{
       font-family:garamound ;
       color:white;
       text-align:center;
       font-size:50px;

    }

    .color{
      color:#FFBDE7;
        font-weight:bold;
        font-size:45px;
        background-color: #DF5449;
        display: inline-block;


    }

    ol,ul{
       text-align: center;
             list-style: none;

    }

       a {
          color:white;
          background-color: transparent;
          text-decoration: none;
         }

         a:hover {
          color: #845EC2;
          background-color: transparent;
  }


    
     
   

    

  
    
     /* IPAD PRO */ 
     @media only screen
     and (min-device-width:812px)
     and (max-device-width:1366px)

     {

      body{
    
        background-color:#69b9b4;
        font-family:Rockwell;
        font-size:25px;

        }

      .color{
        color:#005B5B;
        font-size:40px;
        background-color: #47A8BF;
        display: inline-block;

    }

      a:hover {
          color: #2C73D2;
          background-color: transparent;
          text-decoration: underline;
  }

         a{
          text-decoration: underline;
         }


    
      

      .laptop-one {
      display:none;
     }

     .phone-one {
      display:none;
     }

     .ipad-one{
      display:block;
     }

      .grid-image-laptop{background-image:url(“/images/1.gif”);display:none; }


     .grid-image-phone{background-image:url(“/images/2.gif”);display:none; }


     .grid-image-ipad{background-image:url(“/images/7.gif”);display:block; }




   }
 


  

     /* IPHONE */
    @media only screen
      and (min-device-width:51px)
      and (max-device-width:812px)


 {

        body{
    
        background-color:#16B587;
        font-family:Rockwell;

        }

        .color{
        color:#E1EA87;
        background-color: #00A08E;
        display: inline-block;


    }

         a:hover {
          color: #2C73D2;
          background-color: transparent;
          text-decoration: underline;
  }

         a{
          text-decoration: underline;
         }

     
     .grid-image-laptop { background-image:url(“/images/1.gif”); display:none; }


     .grid-image-phone { background-image:url(“/images/2.gif”); display:block; }


     .grid-image-ipad{background-image:url(“/images/7.gif”);display:none; }


     

     .laptop-one {
      display:none;
     }

     .phone-one {
      display:block;
     }

     .ipad-one{
      display:none;
     }

   }

    